@font-face {
  font-family: 'glitch-goblin-font';
  src: local('glitch-goblin-font'), url('./fonts/glitch-goblin-font/GlitchGoblin-2O87v.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
